/* ===== GLOBAL ===== */
body {
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Wrapper biar konten di tengah */
.main-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Judul */
.comic-title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

/* Page container */
.page {
    margin-bottom: 18px;
}

/* Gambar */
img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .comic-title {
        font-size: 36px;
    }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
    .main-container {
        padding: 8px;
    }

    .comic-title {
        font-size: 22px;
    }

    img {
        border-radius: 0;
    }
}

button {
    margin-top: 2px;
}

.comic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 30px;
}

.comic-card {
    max-width: 160px;
    margin: auto;
    text-align: center;
}

.comic-cover img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.comic-title-small {
    font-size: 0.85rem;
    margin-top: 8px;
    line-height: 1.2;
}
